body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,215,133,1) 35%, rgba(0,212,255,1) 100%);
}
.pokemon_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px !important;
    padding-left: 33px;
    padding-right: 33px;
}

.parrafo {
    color: rgb(7, 6, 6);
    font-weight: 600;
}
.id{
    color: rgb(7, 6, 6);
    margin-bottom: 0;
}
.img_container{
    background-image: url("https://cdn.shopify.com/s/files/1/0028/9003/9365/files/svg.png?v=1667343915");
    width: 166px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}
h1.emcabezado {
    color: white;
    text-align: center;
    padding: 32px;
}
.parent_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
}
.card {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff !important;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    text-align: center;
    transition: 0.5s;
    backface-visibility: hidden;
    height: 230px;
  
}

/* .back:hover{
    transform: rotateY(180deg);
} */
.back{
    width: 166px;
    height: 230px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,215,133,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    margin-left: 2px;
    border-radius: 0.25rem;
    transition: 0.5s;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.contenedor_principal {
    position: relative;
    cursor: pointer;
    perspective: 1000px;
}
.contenedor_principal:hover .card {
    transform: rotateY(180deg);
}
.contenedor_principal:hover .back {
    transform: rotateY(360deg);
}
.parrafo_back{
    text-align: center;
    color: white;
    font-size: 19px;
    padding-left: 20px;
    padding-right: 20px;
}

.pokemon-name{
    font-weight: 700;
    font-size: 19px;
}

.imagenes-pokemones{
   width: 151px;
   height: 162px;
}
.card-buscador {
    width: 166px;
    height: 230px;
    background-color: #ffffff !important;
    border-radius: 0.25rem;
}
.imagen-search {
    width: 229px;
    height: 201px;
    background-image: url(https://cdn.shopify.com/s/files/1/0028/9003/9365/files/blob_7-9-693.png?v=1669916385);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.buscadorContainer {
    display: flex;
    align-items: center;
    width: 100%;
   
    margin-bottom: 14px;
    flex-direction: column;
}
.formulario {
    display: flex;
}
.espaciador {
    margin-top: 10px;
    padding-top: 29px;
    text-align: center;
    display: flex;
    gap: 65px;
}
[type=search] {
    width: 272px;
    outline: none;
    border: none;
}
#boton {
    border: none;
}
.mensaje-error{
    margin-top: 86px;
}
.info-container {
    background: white;
    width: 220px;
    text-align: center;
}
.info-weight {
    border-radius: 14px;
    background-image: linear-gradient(90deg, #2C3E50, #FD746C);
    margin-top: 5px;
    width: 295px;
    padding-top: 4px;
    padding-bottom: 8px;
    color: white;
}
.descripcion {
    background-image: linear-gradient(90deg, #2C3E50, #FD746C);
    border-radius: 14px;
    width: 295px;
    height: auto;
    padding: 7px;
    font-weight: 400;
    color: white;
}
